<template lang="pug">
  v-layout(row wrap justify-center align-content-start)
    v-flex(xs9 sm6 md3)
      v-menu( 
        ref="selectedDate"
        lazy
        v-model="selectedDate"
        transition="scale-transition"
        offset-y
        full-width
        :nudge-right="40"
        min-width="290px"
        :return-value.sync="date")
        v-text-field(
          slot="activator"
          label="Picker without buttons"
          v-model="date"
          prepend-icon="event"
          readonly)
        v-date-picker(
          v-model="date" 
          :show-current="today"
          locale="cs-cz" 
          @input="$refs.selectedDate.save(date)")

    v-flex(xs3 sm2)
      v-btn.primary(block @click="loadData") Load

    v-flex(xs12 md10 lg8)
      v-data-table(
        :headers="downloadedHeader"
        :items="downloadedData"
        hide-actions
        class="elevation-1")
        template(slot="items" slot-scope="props")
          td.text-xs-center(v-for="i in Object.keys(props.item)" v-if="!!props.item[i]") {{ props.item[i] }} 

    spinner(v-if="loadingData")
</template>

<script>
import {mapState, mapActions} from 'vuex'
import Spinner from './main-template/Spinner.vue'

export default {
   data () {
    return {
      today: null,
      date: null,
      modal: false,
      selectedDate: false
    }
  }, // end data

  computed: {
    ...mapState([
      'loadingData',
      'downloadedHeader',
      'downloadedData'
    ])
  }, // end computed

  methods: {
    ...mapActions([
      'fetchData'
    ]),

    convertDate(x) {
      let y = x.split("-").reverse().join(".")
      return y
    }, // end convert date

    loadData() {
      const czDate = this.convertDate(this.date)
      this.fetchData(czDate)
    } // end load date
    
  }, // end methods

  mounted() {
    this.$nextTick(() => {
      // Update Today's Date
      const todaysDate = new Date()
      let dd = todaysDate.getDate();
      let mm = todaysDate.getMonth()+1; //Jan = 0
      let yyyy = todaysDate.getFullYear();

      // add leading 0 if only 1 character
      dd < 10 ? dd = '0' + dd : null
      mm < 10 ? mm = '0' + mm : null
      this.today = `${yyyy}-${mm}-${dd}`
      this.date = this.today
    }) // end next tick
  }, // end mounted

  components: {
    Spinner
  } // end components
}
</script>

<style lang="stylus">

</style>