<template lang="pug">
v-toolbar(color='white' app dense clipped-left fixed)
  v-toolbar-side-icon.primary--text(@click="")
  v-toolbar-items
    router-link.header-logo(to="/")
      img(src="../../assets/barclays-logo.jpg")
</template>

<script>
  export default {}
</script>

<style lang="stylus">
.header-logo
  display flex
  position relative
  align-items center
  justify-content center
  flex 1 1 auto;

  img
    height 2em
</style>