<template lang="pug">
v-content
  v-container(fluid fill-height)
    v-layout(justify-center align-center)
      keep-alive(include="Home")
        transition(name="slide", mode="out-in", appear)
          router-view
</template>

<script>
  export default {}
</script>

<style lang="stylus">
</style>