<template lang="pug">
.spinner-wrapper(:class="{'spinner-modal': modal}")
  .spinner(:style="spinnerStyle")
</template>

<script>
  export default {
    name: 'vue-simple-spinner',
    props: {
      modal: {type: Boolean, default: true},
      size: {type: Number, default: 32},
      lineSize: {type: Number, default: 3},
      colorBg: {type: String, default: '#eeeeee'},
      colorFg: {type: String, default: '#447494'},
      speed: {type: Number, default: 0.8},
    }, // end props
    computed: {
      spinnerStyle() {
        return {
          'margin-left': this.modal ? -Math.round(this.size/2) + 'px' : '',
          'margin-top': this.modal ? -Math.round(this.size/2) + 'px' : '',
          'border-radius': '100%',
          'border': this.lineSize+'px solid '+this.colorBg,
          'border-top': this.lineSize+'px solid '+this.colorFg,
          'width': this.size + 'px',
          'height': this.size + 'px',
          'animation': 'spinner-spin '+this.speed+'s linear infinite',
        }
      } // end spinnerStyle
    } // end computed
  }
</script>

<style lang="stylus">
.spinner-wrapper
  z-index 1000
.spinner
  transition all 0.3s linear
  border-radius 100%
.spinner-modal
  background rgba(255, 255, 255, 0.6)
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  .spinner
    position absolute
    top 50%
    left 50%

@keyframes spinner-spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
</style>