<template lang="pug">
  v-app
    app-drawer                          //- Control Panel  
    app-toolbar                         //- Top Bar
    app-content                         //- Content
    app-footer                          //- Footer
</template>

<script>

import AppDrawer from './components/main-template/App-drawer.vue'
import AppToolbar from './components/main-template/App-toolbar.vue'
import AppContent from './components/main-template/App-content.vue'
import AppFooter from './components/main-template/App-footer.vue'

export default {
  name: 'App',
  components: {
    AppToolbar,
    AppDrawer,
    AppContent,
    AppFooter,
  } // end computed
}
</script>

<style lang="stylus">

</style>
